{% extends 'base.html.twig' %}

{% block title %}Oeuvres{% endblock %}

{% block body %}
    <div class="container">
    <div>
        <h1>Création d'une nouvelle oeuvre</h1>
    </div>
        <div>
            {{ include('oeuvres/_form.html.twig') }}
        </div>

        <a href="{{ path('oeuvres_index') }}">
            <button class="btn  btn-secondary btn-mg" type="button">
                <i class="far fa-arrow-alt-circle-left"></i>
                <span>Retour à la liste</span>
            </button>
        </a>
    </div>
{% endblock %}
